<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="de.mission-mobile.cdvplugins.smartscanndy"
    version="1.0.0">

    <name>smartSCANNDY</name>
    <description>You can use this plugin to integrate a smartSCANNDY Barcode/RFID-Scanner by Panmobil</description>
    <license>Apache 2.0 License</license>

    <repo>https://github.com/behrndt/smartScanndy</repo>
    <issue>https://github.com/behrndt/smartScanndy/issues</issue>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/smartscanndy.js" name="SmartScanndy">
        <clobbers target="cordova.plugins.smartScanndy" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova >= 2.8 -->
        <config-file target="config.xml" parent="/*">
            <feature name="SmartScanndy">
                <param name="ios-package" value="CDVSmartScanndy" />
            </feature>
        </config-file>

        <resource-file src="src/ios/scannerOverlay.xib" />

        <header-file src="src/ios/SComP/crc32.h" />
        <header-file src="src/ios/SComP/scomp.h" />
        <header-file src="src/ios/SComP/Scanndy.h" />
        <header-file src="src/ios/SComP/EADSessionController.h" />

        <source-file src="src/ios/CDVSmartScanndy.mm" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/SComP/crc32.c" />
        <source-file src="src/ios/SComP/scomp.c" />
        <source-file src="src/ios/SComP/Scanndy.m" />
        <source-file src="src/ios/SComP/EADSessionController.m" />
        <source-file src="src/ios/SComP/UniqueUID.c" />

        <framework src="QuartzCore.framework" />
        <framework src="ExternalAccessory.framework" />
        <!--framework src="UIKit.framework" /-->
        <framework src="Foundation.framework" />
        <!--framework src="CoreGraphics.framework" /-->
    </platform>
</plugin>
